<%=	javascript_include_tag "application" %>
<%= javascript_tag do %>
	jQuery(document).ready(function($) {
		submit_external_form();
		function submit_external_form() {
			// Hide the page
			$("body").hide();
			$form = $(".external_form");
			$form.trigger("submit");
		}
	});
<% end %>
<div class="inner_form_dialog">
	<form id="<%= @id %>" action="<%= @push_to.url %>" method="<%= @push_to.method %>" class="external_form" enctype="<%= @push_to.enctype %>">
		<h2>Push to <%= @push_to.name.capitalize %></h2>
		<div class="formError">
		<%= @error || flash[:error] %>
		</div>
		<fieldset>
			<legend><%= @legend %></legend>
			<%= raw build_external_form %>
			<div class="section">
				<%= submit_tag "Push to #{@push_to.name.capitalize}"%>
			</div>
		</fieldset>
	</form>
</div>